/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Crafty+Girls&display=swap');
/*--General--*/
body {
    height: 100vh;
    font-family: "Crafty Girls", sans-serif;
    flex: 1;
    background-color: white;
    background-size: cover;
}
  
.background-image {
      height: 100px;
      width: 60px;
}

.h1 {
    font-family: "Crafty Girls", sans-serif;
    color:#f64a8a;
    margin: 15px auto;
    text-align: center;
    font-weight: 200px;
    display: flex;
    justify-content: center; 
} 

 .card img {
     height: 300px;
     object-fit: cover;
}

p {
   font-family: 'Crafty Girls', cursive;
}

/*--Buttons--*/
.btn{
    border-color: black;
    margin-top: 10px;
    background-color: #f64a8a;
    font-weight: 700;
}

.btn:hover{
    background-color: #ffe3ec;
}

/*--Navigation bar--*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:  8.5vh;
    background-color: #ffe3ec;
    z-index: 9999; 
    font-family: 'Amatic SC', cursive;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 900;
}

.logo:hover{
         color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a:hover {
     color: white !important; 
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:black;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffe3ec;;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*--HomePage cards--*/
.card-deck {
    justify-content: flex-end;
    align-items: flex-end;
}

#homepage-cards{
    padding-bottom: 40px;
}

/*--Members cards--*/
.members-container {
    margin-top: 80px;
}

.card{
    box-shadow: 2px 8px 8px 2px grey;
    margin-top: 100px;
    padding-bottom: 10px;
}

.card-body{
    margin-bottom: 10px;
}

.card title .card text{
    font-weight: 900;
}
.account-login{
    padding-top:10px;
}

/*--Sign in page--*/
.bg-img{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url('../images/signin.jpeg') no-repeat;
    background-size: cover;
    height: 90vh;
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.form-container{
    overflow: hidden;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    margin: auto;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.form-heading,
.form-heading-signup {
    padding-top: 20%;
    padding-bottom: 3%;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 5rem; 
}

.form-heading {
    color: white;
}

.form-heading-signup {
    color: #f64a8a;
}

.account-login{
   font-weight: 900;
}

.signup:hover{
    color: #f64a8a;
}

/*--Sign Up page--*/
.signup-img{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url('../images/signup.jpeg') no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.form-link,
.form-link:hover {
    font-weight: bold;
    text-decoration: none;
    color: #f64a8a;
}

/*--Footer--*/
footer{
    /*position: fixed; */
    right: 0;
    bottom: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    padding-top: 80px;
}

.footer-container{
    background-color: #ffe3ec;
}

.footer-container p {
  text-align: center;
}

.social-links li i {
  justify-items: center;
}

#social-col{
    align-content: flex-center; 
        text-align: center; 
        -ms-flex-line-pack: center; 
}

/*--Social media icons--
*/
.fab{
    font-size: 30px;
    padding-top: 10px;
    color: black;
}

.fab:hover {
    color: #f64a8a;
}

 /* Tabs */
 .tab-container {
    margin-bottom: 80px;
    margin-top: 75px;
}

.tab-bar {
    padding-right: 0;
}

.tablinks {
    background-color: #ffe3ec;
    color: #f64a8a;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 33%;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

.tabcontent {
    display: none;
    min-height: 80%;
}

.tab button {
    background-color: #ffe3ec;
    color: #f64a8a;
}

.tab button:hover {
    background-color: #000;
    color: #f64a8a;
}

.tab button.active {
    background-color: #f64a8a;
    color: #000;
}

/* Flash Messages */

.flash .row {
    background-color: #ffe3ec;
    margin-bottom: 0;
}

.flash-message {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    line-height: 95%;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: #f64a8a;
}

/* Chat App */
.chat-heading,
.chat,
.chat-message,
.chat-btn {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.chat-heading {
    margin-top: 80px;
}

.chat {
    font-size: 1.5rem;
    color: #f64a8a;
}

.chat-message {
    font-size: 1.5rem;
}

.message-box {
    border-radius: 3px;
    border: 2px solid #f64a8a;
}

.message-container {
    padding-bottom: 3rem;
}

.profile-heading,
.profile-info, 
.chat-date {
    font-family: 'Amatic SC', cursive;
}

.profile-info {
    color: #f64a8a;
}

.profile-container {
    margin-top: 80px;
}

.profile-info-container {
    font-size: 1.5rem;
}

label {
    font-family: 'Amatic SC', cursive;
    color: #f64a8a;
    font-weight: 700;
    font-size: 1.25rem;
}

@media screen and (max-width: 664px) {
    .tablinks {
        font-size: 1rem;
        padding: 3px;
    }
}