{% extends "base.html" %}

  {% block content %}
  
  
  <div class="container">
    <h1>Women In Tech</h1>
    <p>Women supporting women as they advance in their coding journey through mentorship and collaboration.
     Together, Devs of all skill levels can combine their expertise to create amazing works of tech art.</p>
</div>
<!--Homepage Cards-->
  <div class="container">
    <div class="card-deck">
      <div class="card"> 
    <img src="/static/images/collaborate.jpg" class="card-img-top" alt="collaborate">
          <div class="card-body">
           <h5 class="card-title">Mentorship</h5>
           <p class="card-text">A place where experienced Devs can share their hard work and experience
             while keeping their skills sharp.
           </p>
         </div>
        <div class="card-footer">
          <a href="{{ url_for('members') }}"><div class="btn btn-dark">Meet Them Here!</div></a>
        </div>
      </div>
      <div class="card">

        <img src="/static/images/studying.jpg" class="card-img-top" alt="studying">

          <div class="card-body">
           <h5 class="card-title">Collaboration</h5>
            <p class="card-text"> We have organized specific groups that will be dedicated to all needs.In these groups, we can come together to collaborate and inspire one
            another through our projects.
            </p>
         </div>
        <div class="card-footer">
          <a href="{ url_for('registers') }}"><div class="btn btn-dark">See Our Groups</div></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
 

