{% extends "base.html" %}

{% block content %}
  <section class="container-fluid bg-img">
      <!-- Page Heading --> 
       
      <div class="row text-center">
          <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="form-heading">Login</h1>  
          </div>
        </div>
    
        <!-- Log In Form-->
        <div class="form-container"> 
        <div class="row">
            <form class="col-10 offset-1 col-md-6 offset-md-3" method="POST" action="">
                <div class="row">
                    <div class="form-group col-12 col-md-6 offset-md-3 text-center">
                        <label for="username">Username</label>
                        <input type="text" class="form-control validate" id="username" name="username" required>
                    </div>
                    <div class="form-group col-12 col-md-6 offset-md-3 text-center">
                        <label for="password">Password</label>
                        <input type="password" class="form-control validate" id="password" name="password" required>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 col-md-6 offset-md-3">
                        <button type="submit" class="btn btn-small" id="login-btn">
                                Log In
                        </button>
                        <p class="text-center account-login">
                                Don't have an account?
                        <a href="" class="">Sign Up</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
      </div>
  </section>    
{% endblock %}