{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="image-container">
            <img class="card-img-top img-fluid" src="{{ profile.image }}" alt="{{ profile.fullname }}">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="profile-details-container mb-5 mt-md-5">
            <h3 class="mb-0 font-weight-bold text-center product-name">{{ profile.fullname }}</h3>
            <span class="text-muted">({{ profile.member_type }})</span></h5>
            <p class="mb-0">Field: {{ profile.field }}
            <br> Experience: {{ profile.experience }}
            <br> Technologies: {{ profile.technologies }}
            <br> Goals: {{ profile.goals }}
            <br> Interests: {{ profile.interests }}
            <br> Github: {{ profile.github }}
            <br><small><em>joined: {{ profile.date_created }}</em></small>
            </p>   
        </div>
        <div>
            <form  method="POST" action="{{ url_for('add_connection', profile_id=profile._id) }}">
                <button class="btn" id="connect" name="connect" type="submit">Connect</button>
            </form>
            <a href="{{ url_for('members') }}" class="btn">Back to Members</a>
        </div>
        
        <form method="POST">
            <textarea cols="50" rows="4" name="message" id="message"></textarea>
            <br>
            <button>Send message</button>
        </form>
    </div>
</div>

          
           
{% endblock %}